.message {
  background-color: lightblue;
  position: relative;
  padding: 5px 23px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  max-width: 40%;
  word-wrap: break-word;

  &-owner {
    align-self: flex-end;
  }

  &-companion {
    align-self: flex-start;
  }
  &-sender {
    color: gray;
    font-size: 14px;
  }
}
.delete-icon{
  position: absolute;
  right: 5px;
}

